name: Lint and Format Check

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint and format check
        run: pnpm check
        env:
          SKIP_ENV_VALIDATION: true

      - name: Run typecheck
        run: pnpm typecheck
        env:
          SKIP_ENV_VALIDATION: true

      - name: Run build
        run: pnpm turbo run build --filter=vs3
        env:
            SKIP_ENV_VALIDATION: true
